[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=KritaToSpine
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Spine Export Plugin
Comment=Export to Spine JSON Format
